.header {
    background-image: url(library.jpeg);
    /* height: 250px; */
    margin: 0 auto;
    text-align: center;
    font-size: 250%;
    padding-top: 6%;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .8);
    color: white;
}

.text {
    padding-bottom: 10px;
}




